.hero {
  height: 50vh;
  background: linear-gradient( rgba(72, 161, 140, 0.6), rgba(187, 119, 136, 0.6)), url('../../assets/macbackground.jpg');
  //credit to unsplash.com for mac bg img
  background-size: cover;
  background-position: center;

  .hero-copy {
    padding-top: 20vh;
  }

  p {
    margin: 0;
    text-align: center;
    color: #FAFAE8;
    text-shadow: 2px 2px 2px #4B5052;
  }

  .hero-name {
    font-size: 2.8rem;
    font-weight: bold;

    // overflow: hidden;
    // border-right: .15em solid #4B5052; /* The typwriter cursor */
    // white-space: nowrap; /* Keeps the content on a single line */
    // margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    // letter-spacing: .1em; /* Adjust as needed */
    // animation:
    //   typing 3.5s steps(40, end),
    //   blink-caret 500ms step-end infinite;
  }

  .hero-title {
    font-size: 1.8rem;
    line-height: 35%;
    opacity: .75;
  }
}

@media screen and (max-width: 400px) {

  .hero {
    .hero-name {
      font-size: 2rem;
    }

    .hero-title {
      font-size: 1.4rem;
    }
  }
}

// @keyframes typing {
//   from { width: 0 }
//   to { width: 45% }
// }

// @keyframes blink-caret {
//   from, to { border-color: transparent }
//   50% { border-color: #4B5052; }
// }
