nav {
    background: transparent;
    color: #FAFAE8;
    width: 100%;
    z-index: 99;
    height: 9vh;
    position: fixed;
    top: 0;
    left: 0;
    .logo-header {
        display: inline-block;
        margin: 1% 1% 1% 2%;
        font-size: 1rem;
        font-family: 'Suez One', serif;

        p {
          margin-bottom: 0;
        }

        .logo-name {
          font-weight: bold;
        }

        .logo-title {
          opacity: .7;
          margin-top: 0;
        }
    }
    .nav-links {
        list-style-type: none;
        float: right;
        padding: 0;
        margin-right: 0.5rem;
        li {
            display: inline-block;
            font-size: 1.8rem;
            margin-right: 0.8rem;
            a {
                font-size: 1.5rem;
                padding: 0 1rem;
                vertical-align: middle;
                background-color: #FAFAE8;
                background-image: linear-gradient(to right, rgba(121,194,178,1) 0%, rgba(214,144,162,1) 25%, rgba(162,96,111,1) 45%, rgba(250,250,232,1) 72%, rgba(250,250,232,1) 82%, rgba(72,161,140,1) 100%);
                background-position: 100% 0;
                background-size: 200% 200%;
                transition: 0.8s 0.2s;
                -webkit-background-clip: text;
                &:hover {
                    cursor: pointer;
                    background-position: 0 0;
                    color: transparent;
                    transition: 0.5s 0;
                }
            }
        }
    }
}

.navbar-fixed-top {
  background: black;
}
@media screen and (max-width: 540px) {
    nav {
        .nav-links {
            li {
                margin-top: 0;
                a {
                    padding: 0;
                    font-size: 1rem;
                }
            }
        }
        .logo-header {
            margin-top: 0.5rem;
        }
    }
}
